Perform the following actions in sequence:

- List all available providers for the sokrates-mcp
- List all available models for the 'local' provider available to the soktrates-mcp
- Roll 3 W12 dice 2 times
- Get a directory tree for the /usr/bin directory
- Write a new file to /tmp/my_test_directory/my_new_file.md with the content: This is a test
- Write a new file to /tmp/my_test_directory/my_new_file_2.md with the content: This is my test 2
- Read the file from /tmp/my_test_directory/my_new_file.md
- Read all files from directory /tmp/my_test_directory
- Break down the following task using model 'qwen/qwen3-4b-2507': Build an airplane
- Refine the following prompt: Write a science fiction short story
- Refine and execute the following prompt using the 'local' provider and the 'qwen/qwen3-4b-2507' model: Write a poem about music
- Handover the following prompt using model 'qwen/qwen3-4b-2507': make a joke
- Generate one random idea using model 'qwen/qwen3-4b-2507' and the 'local' provider
- Generate an idea to the topic of "flying machines" using the 'local' provider and model 'qwen/qwen3-4b-2507'
- Generate a code review for the source file /home/verfeinerer/dev/os_projects/sokrates-mcp/src/sokrates_mcp/workflow.py in the target directory /home/verfeinerer/dev/os_projects/sokrates-mcp/docs/code_reviews using provider 'local' and model 'qwen/qwen3-4b-2507'