Perform the following actions in sequence:

- List all available providers for the sokrates-mcp
- List all available models for the 'local' provider available to the soktrates-mcp
- Break down the following task using model 'qwen3-30b-a3b-instruct-2507': Build an airplane
- Refine the following prompt: Write a science fiction short story
- Refine and execute the following prompt using the 'local' provider and the 'qwen3-30b-a3b-instruct-2507' model: Write a poem about music
- Handover the following prompt using model: qwen3-30b-a3b-instruct-2507'
- Generate one random idea
- Generate an idea to the topic of "flying machines" using the 'local' provider and model 'qwen3-30b-a3b-instruct-2507'
- Generate a code review for the source file $HOME/dev/os_projects/sokrates-mcp/src/sokrates_mcp/workflow.py in the target directory $HOME/dev/os_projects/sokrates-mcp/docs/code_reviews